.register{
    margin-top: 48px;
    width: 100%;
}
.register__inner{
    width: 60%;
    margin: auto;
}
.register__form{
    margin: 15px 0px;
}
.register__form-input{
    width:100%;
}
.register__form-input p{
    font-weight: bold;
    line-height: 5px;
}
.register__form-input input{
    width: 100%;
    padding: 8px;
    margin-bottom: 5px;
}
.register__form-error{
    color:#FF5555;
}
.register__button-profile{
    background-color: #FF5555;
    border: none;
    cursor: pointer;
    outline: none;
    appearance: none;
    width: 100%;
    color:white;
    margin: 50px 0px 25px;
    padding: 5px;
}
.register__button-login {
    display: block;
    text-align: center;
    margin-top: 10px;
    text-decoration: none;
    color:#4D9EDB;
}
