.profile{
    display: flex;
    justify-content: center;
    margin-top: 48px;
}

.login__form-input {
    margin: 15px 0px;
}

.profile__form img{
    height: 200px;
    width: 200px;
    border-radius: 50%;
}
.profile__form--choice{
    width: 1000px;
    height: 150px;
    background-color: white;
    border: solid 3px #ff5555;
    border-radius: 15px;
    cursor:pointer;
}

.profile__form p {
    font-weight: bold;
}

.profile__form input {
    width: 100%;
}

.profile__form--update{
    background-color: #FF5555;
    border: none;
    cursor: pointer;
    outline: none;
    appearance: none;
    color: white;
    width: 100%;
    margin: 50px 0px 25px;
    padding: 5px;
}